# local settings/private details go in included file
[include]
    path = ~/.gitconfig.local
[core]
    editor = vim
	excludesfile = $HOME/repos/dotfiles/git/.gitignore
[init]
	defaultBranch = main
[color]
	ui = auto
