# virtual environments
.venv
venv

# vim nonsense
*.swp
.netrwhist

# bak files
.bak

# windows nonsense
.DS_Store
.vscode

# python nonsense
__pycache__
.mypy_cache

# logs folders/file
logs

vim/tmp
vim/view
vim/undos
nvim/undos
