# local settings/private details go in included file
[user]
	name = alexk49
	email = alexcode9@mailbox.org
[credential]
    helper = manager
[include]
    path = ~/.gitconfig.local
[core]
    editor = vim
	excludesfile = ~/.gitignore
[init]
	defaultBranch = main
[color]
	ui = auto
