# local settings/private details go in included file
[user]
    name = alexk49
    email = alexcode9@mailbox.org
[include]
    path = ~/.gitconfig.local
[includeIf "gitdir:~/work-repos/**"]
    path = ~/.gitconfig.work
[core]
    editor = vim
	excludesfile = ~/dotfiles/.gitignore
[init]
	defaultBranch = main
[color]
	ui = auto
[merge]
  tool = vimdiff
  conflictstyle = diff3
[difftool]
  prompt = false
